# Ignore "local" files repo-wide
*.local
**/local/**

# broot
broot/launcher/

# espanso
espanso/match/local.yml

# gh
gh/hosts.yml

# gnupg
gnupg/*
!gnupg/gpg*.conf

# mise
.mise.local.toml
.mise.*.local.toml
mise.local.toml
